<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mongo Scraper</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved</a>
      </li>

    </ul>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Saved Articles</h1>
    <p class="lead">Your saved articles</p>
  </div>
</div>

<div class="article-contaner"></div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>"https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"</script>
<script src="/assets/javascript/saved.js"></script>